.content {
    width: 100%;
    max-width: 46rem;

    border-bottom: 1px solid var(--Grey-400, #333);
    margin-bottom: 1rem;
}

.content div {
    margin: 3rem 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.content div p {
    color: var(--blue, #4EA8DE);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.content div p+p {
    color: var(--purple, #8284FA);
}

.content div p span {
    display: flex;
    padding: 0.125rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 999px;
    background: var(--gray-400, #333);

    color: var(--gray-200, #D9D9D9);
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}