.contentPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

ul {
    width: 100%;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}